html {
  height: 100%;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  margin: 0;
  min-height: 100%;
}

/* HEADER & NAV */
.holder{
  width: 80%;
  margin: 0 auto;
}

.main-header{
  background-color: #283149;
}

.header-title{
  width: 80%;
  margin: 0 auto;
  padding-top: 5px;
}

.main-nav{
  background-color: #ff6f0f;
  margin-bottom: 20px;
  padding: 2px;
}

.main-nav ul{
  list-style-type: none;
  margin: 0 auto;
  width: 80%;
  padding: 5px;
}

.nav-m{
  display: none;
  background-color: #ff6f0f;
}

.dropdown{
  position: relative;
  display: inline-block;
  width: 11%;
  z-index: 1000;
}

.dropdown li{
  text-align: center;
  color: #fff;
  width: 100%;
}

.dropdown li:hover{
  background-color: #ff6f0f;
  text-decoration: underline;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
}

.dropdown-content a {
  color: #fff;
  padding: 10px;
  background-color: #ff6f0f;
  text-decoration: none;
  border-bottom: 0.5px solid #fff;
  display: block;
}
/* 
.dropdown-content a:hover {
  background-color: #e65c00;
}
*/

.dropdown:hover .dropdown-content {
  display: block;
}

/* HEADER & NAV */

/* MAIN MENU*/

.product-title{
  padding: 10px;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.flex-container .jr-flex {
  background-color: #f9f9f9;
  height: 450px;
  width: 300px;
  margin: 10px;
  position: relative;
  text-align: center;
}

.flex-container img{
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 150px;
}

.product-name{
  font-size: 18px;
}

.product-description{
  font-size: 14px;
  padding: 0px 10px;
  text-align: left;
}

.product-price{
  font-size: 20px;
  color: rgba(55, 226, 61, 0.91);
}

.product-price span{
  color: #00f400;
  margin-left: 1em;
  font-size: 16px;
}
.product-info{
  text-decoration: none;
  color: #0000cc;
  position: absolute;
  bottom: 27px;
  right: 20px;
}

.product-info:hover{
  text-decoration: underline;
}

.btn-product{
  color: #fff;
  background-color: #05004e;
  border: 1px solid black;
  border-radius: 5%;
  padding: 1em;
  bottom: 15px;
  left: 20px;
  position: absolute;
}

/* MAIN MENU*/

/* FOOTER */

footer{
  background-color: #283149;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10000;
}

.footer-txt{
  font-size: 9px;
  color: #fff;
  text-align: center;
}

/* FOOTER */

/* MODAL */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1001; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  z-index: 1002;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-body {
  padding: 2px 16px;
  background-color: #283149;  
  color: #fff;
}

.modal-body img{
  width: 64px;
  height: 64px;
  margin-top: 8px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #15162f;
  color: #fff;
}

.modal-footer button{
  color: #fff;
  background-color: #283149;
  border: 1px solid #1a1a1a;
  border-radius: 5%;
  padding: 1em;
  margin: 0.5em 1em; 
}
/* z-index */

.z-i{
  z-index: -1;
}

/* z-index */

/* pointer-events */

.p-ev{
  pointer-events: none;
}

/* pointer-events */

/* MODAL */

/* MEDIA QUERIES */

@media only screen and (min-width: 1024px) {
  .dropdown li{
  font-size: 13px;
  }

  .modal-content{
    width: 50%;
    margin-top: 3em;
  }

  .modal-body p{
    margin: 0.5em; 
  }

  .modal-body img{
  width: 48px;
  height: 48px;
  }

  .holder{
    width: 80%!important;
  }

  .flex-container .jr-flex {
    margin-right: 50px;
  }
  
}

@media only screen and (min-width: 768px) {
  .holder{
    width: 85%;
  }

  .sidebar {
    width: 250px!important;
  }

  .dropdown li{
  font-size: 13px;
  }
}  

@media only screen and (max-width: 768px) {
  .main-header{
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100px;
  }

  .main-nav{
    display: none;
  }
  
  .nav-m{
    display: block;
    width: 100%;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 185px;
    background-color: #ff6f0f;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: none;
    z-index: 1005;
  }

  .sidebar a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #fff;
    border-bottom: 0.5px solid #fff;
  }

  .sidebar a img{
    width: 20px;
    height: 20px;
    display: inline-block;
    float: right;
  }

  .btn-nav {
  display: inline-block;
  cursor: pointer;
  }

  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 6px 10px;
    display: block;
  }

  #btn-close{
    width: 50px;
    height: 36px;
    display: none;
  }  

  .modal-content{
    width: 80%;
    margin-top: 50px;
  }

  .product-title{
    display: inline-block;
    margin-top: 130px;
  }

  .lock-scroll {
  overflow: hidden;
  }

  .bg-dark-active{
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  }

}

/* MEDIA QUERIES */


@media only screen and (min-width: 1440px) {
  .dropdown li{
    font-size: 16px;
  }

}